// main: style.css


.intro {
   min-height: 500px;


    .container {
        display: flex;
        justify-content: space-between;
    }
}


.information {
    width: 40%;
}

.sticker {

    background-image: url(../image/sticker.png);
    background-repeat: no-repeat;
    background-position: center;

    min-width: 450px;
    height: 400px;

    position: relative;

    .title {
        text-decoration: none;
        font-size: 2rem;
        text-transform: uppercase;

        position: absolute;

        top: 90px;
        left: 90px;

        transform: rotate(-9deg);
    }


    .sub_title {
        text-decoration: none;
        font-size: 1.2rem;
        text-transform: uppercase;

        position: absolute;

        top: 135px;
        left: 95px;

        transform: rotate(-9deg);
    }

    .text_article {
        text-decoration: none;
        font-size: 1rem;
        font-weight: 300;
        font-style: italic;

        position: absolute;

        top: 160px;
        left: 110px;

        transform: rotate(-9deg);

        width: 250px;
    }



}



.photo_col {
    width: 60%;

    position: relative;

    .pic_1 {
        max-height: 350px;
        width: auto;


        position: absolute;

        top: 25px;
        left: 47px;

        transform: rotate(-7deg);
        z-index: 1;

        border: 2px solid #c78441;

    }

    .pic_2 {
        max-height: 240px;
        width: auto;

        position: absolute;

        top: 25px;
        right: 115px;

        transform: rotate(3deg);

        z-index: 2;

        border: 2px solid #c78441;
    }

    .pic_3 {
        max-height: 150px;
        width: auto;

        position: absolute;

        bottom: 0px;
        right: 180px;

        z-index: 3;

        border: 2px solid #c78441;
    }
}




